body
{
	margin:0;
	padding:0;
	font-family:ABeeZee,"Trebuchet MS", Helvetica, sans-serif;
}
.clear
{
	  clear:left;
  padding-top:150px;
  padding-bottom:10px;
}
.container
{
	width:1170px;
	margin:auto;
}

/*Header*/
.header .navbar
{
  background-color:#232F2F;
  color:white;
  overflow: hidden;

}
.header .navbar h2
{
  float:left;
  text-transform:uppercase;
  font:bold 25px/1.7  Arial Tahoma;

}
.header .navbar h2 span
{
  color:GOLD;
  font:bold 25px/1.7  Arial Tahoma;
}
.store .video video
{
   margin-top:0;
   padding-top:0;
   margin-bottom:0;
   padding-bottom:0;
}
.header .navbar ul
{
  list-style:none;
  padding-left:0;
  float: right;
  overflow: hidden;

}
.header .navbar ul li
{

  float:left;
  padding: 10px;
  font:italic 20px/1.7  Arial Tahoma;
  display: inline-block;
}
.header .navbar ul li a
{
  color:white;
  text-decoration:none;
}
.header .navbar ul li a:hover
{

  color:gold;
}


/*End Header*/
/*Store*/
.store
{
	padding-top:30px;
	padding-bottom:15px;
	margin-top:30px;
}
.store .text
{
  text-align:center;
	padding-top:10px;
  padding-bottom:10px;
  margin-bottom: 80px;
  font:italic 20px/1.7  Arial Tahoma;
  background-color:#f2f2f2;
}
.store .items div
{
	padding-top:30px;
}
.store .items h2
{
  text-transform:uppercase;
  font-weight:300;
  margin-bottom:0;
  padding-bottom:0;
}
.store img
{
	margin-top:0;
	padding-top:0;
}
.store .items > div
{
  float:left;
  width:20%;
  margin-left:70px;
  margin-bottom:30px;

}
.store .items button
{
  width:50%;
  height:50px;

}
.store .items h3
{
  color:green;
  font-weight:700;
}
.store .items .float
{
	float:left;
}
/*End Store*/
/*Footer*/
.footer .container
{
  padding-top:20px;
  padding-bottom:20px;
  overflow: hidden;
  background-color:#232F2F;
  text-align:center;
  text-transform: uppercase;
  width:100%;
  color:white;
}
/*End Footer*/
/* My Frameworks*/
.mybutton
{
  background:none;
  padding:10px 20px;
  width:30%;
  border:2px solid gold;
  font-size:20px;
  font-weight:500;
  color:gold;
  cursor:pointer;

}
/*End My Frameworks*/
